<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
  </configSections>
  <resizer>
    <pipeline fakeExtensions=".ashx" defaultCommands="autorotate.default=true" />
    <plugins>
      <!--<add name="DiskCache" />-->
      <add name="FolderResizeSyntax" />
      <!--<add name="PrettyGifs" />-->
      <add name="AnimatedGifs" />
    </plugins>
    <!--<diskcache dir="~/cache" />-->
    <clientcache minutes="10080" />
  </resizer>
  <system.web>
    <httpModules>
      <!-- This is for IIS5, IIS6, and IIS7 Classic, and Cassini/VS Web Server-->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!-- This is for IIS7+ Integrated mode -->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>


  </system.webServer>
</configuration>