@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(/fonts/glyphicons-halflings-regular.eot);
    src: url(/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(/fonts/glyphicons-halflings-regular.woff) format('woff'),url(/fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: Mont;
    src: url(/fonts/Mont-Regular.eot);
    src: local("☺"),url(/fonts/Mont-Regular.woff) format("woff"),url(/fonts/Mont-Regular.ttf) format("truetype"),url(/fonts/Mont-Regular.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Mont;
    src: url(/fonts/Mont-Bold.eot);
    src: local("☺"),url(/fonts/Mont-Bold.woff) format("woff"),url(/fonts/Mont-Bold.ttf) format("truetype"),url(/fonts/Mont-Bold.svg) format("svg");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Mont;
    src: url(/fonts/Mont-Heavy.eot);
    src: local("☺"),url(/fonts/Mont-Heavy.woff) format("woff"),url(/fonts/Mont-Heavy.ttf) format("truetype"),url(/fonts/Mont-Heavy.svg) format("svg");
    font-weight: 800;
    font-style: normal
}

* {
    outline: 0 !important
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: local('SF Pro Display'),local('SF-Pro-Display-Regular'),url(/fonts/semi/SF-Pro-Display-Regular.otf) format('truetype')
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    src: local('SF Pro Display Light'),local('SF-Pro-Display-Light'),url(/fonts/semi/SF-Pro-Display-Light.otf) format('truetype')
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: italic;
    font-weight: 300;
    src: local('SF Pro Display LightItalic'),local('SF-Pro-Display-LightItalic'),url(/fonts/semi/SF-Pro-Display-LightItalic.otf) format('truetype')
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    src: local('SF Pro Display Bold'),local('SF-Pro-Display-Bold'),url(/fonts/semi/SF-Pro-Display-Bold.otf) format('truetype')
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: italic;
    font-weight: 700;
    src: local('SF Pro Display BoldItalic'),local('SF-Pro-Display-BoldItalic'),url(/fonts/semi/SF-Pro-Display-BoldItalic.otf) format('truetype')
}
