<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <remove extension=".png" />
                <remove extension=".js" />
                <remove extension=".jpg" />
                <remove extension=".jpeg" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
